
.restaurante{
  background-color:white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardapio h2{
  text-align: center;
  font-family: 'Dancing Script', cursive;
  color: #daa520;
}

.cardapio{
  min-width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  border-radius: 8px;
}

.cards {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media screen and (min-width:1440px){
  .sectionLimitada{
    width: 60vw;
    background-color: red;
  }
}