@media screen and (min-width:1024px) and (max-width:1439px){
    .Card{
        border: 1px solid #daa520;
        border-radius: 5px ;
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 400px;
        margin:43px;
        flex: 1 0 auto;
    }
    
    .Card figure{
        width: 100%;
        height: 250px;
    }
    
    .Card figure img{
        width: 100%;
        height: 100%;
    }
    
    .Card .info{
        background-color: #f3f3f3;
        width: 100%;
        height: 150px;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .info small{
        color: #daa520;
    }
    
    .Card .preco{
        text-align: end;
        font-weight: bolder;
    }
}